<!DOCTYPE html>
<html>
<head>

  <title>RestaurantList</title>
  <meta charset="utf-8">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.js"></script>
  <script type="text/javascript" src="./restaurant.js"></script>
</head>
<body>
<div ng-app="myApp">
  <div ng-controller="RestaurantsCtrl">
      <p>Search</p>
    <select name="singleSelect" ng-model="singleSelect"  ng-change="clearSearch()">
      <option ng-repeat="item in SearchOptions" value="{{item.value}}"> {{item.optionName}}
      </option>
    </select>



    <p>
      <input type="text" ng-model="search[singleSelect]">
    </p>


    <button ng-click="clearSearch()">Clear</button>
    <br>
    <br>
    <table>
      <button type="button" ng-click="addBackGroundColor('North York')">North York</button> &nbsp;&nbsp;&nbsp;&nbsp;
      <button type="button" ng-click="addBackGroundColor('Markham')">Markham</button>&nbsp;&nbsp;&nbsp;&nbsp;
      <button type="button" ng-click="addBackGroundColor('Downtown')">Downtown</button>&nbsp;&nbsp;&nbsp;&nbsp;
      <button type="button" ng-click="addBackGroundColor('Richmond Hill')">Richmond Hill</button>
      <tr>
        <th>RID</th>
        <th>Name</th>
        <th>Address</th>
        <th>Tel</th>
        <th>Open Hour</th>
        <th>Area</th>
      </tr>

      <tr ng-repeat="(id,restaurant) in restaurants|filter: search" ng-style="restaurant.style">
        <td>{{restaurant.rd}}</td>
        <td>{{restaurant.name}}</td>
        <td>{{restaurant.address}}</td>
        <td>{{restaurant.tel}}</td>
        <td>{{restaurant.openhour}}</td>
        <td>{{restaurant.area}}</td>
        <td><button ng-click= "GetItem(restaurant)">edit</button>
      </tr>

</div>
<br>
<label>
    RID:
      <input type="text" value={{showitem.rd}}>
</label>
<br>
<label>
    Name:
    <input type="text" value={{showitem.name}}>
</label>
<br>
<label>
    Address:
    <input type="text" value={{showitem.address}}>
</label>
<br>
<label>
    Telephone:
    <input type="text" value={{showitem.tel}}>
</label>
<br>
<label>
    Open Hour:
    <input type="text" value={{showitem.openhour}}>
</label>
<br>
<label>
    Area:
      <input type="text" value={{showitem.area}}>
</label>
</body>
