<div style="height:800px;overflow:scroll;">

    <h2 style ="text-align: center">餐馆地图</h2>
    <div style = "text-align: center;background-color: lightblue">
          <h1 id = 'northyork'>North York</h1>
          <img src="./views/map/ny1.png" height="70%" width="70%">
          <p style="margin-top:10px; margin-bottom:10px">
          <img src="./views/map/ny2.png" height="70%" width="70%">
    </div>
    <div style = "text-align: center; background-color: lightgrey">
          <h1 id = 'scar'>Scarborough</h1>
          <img src="./views/map/scarborough.png" height="70%" width="70%">
    </div>
    <div style = "text-align: center; background-color: grey">
          <h1 id = 'markham' style = 'color: white'>Markham</h1>
          <img src="./views/map/markham.png" height="70%" width="70%">
    </div>
</div>
