.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 10px 0 10px 0;
  box-shadow: 0px 0px 3px #E5E5E5;
  background-color: white;
}

.header-left{
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  margin-left: 10px;
}

.version{
  height: 25px;
  width: 60px;
  background-color: #F36A5A;
  margin-left: 10px;
  color: white;
  text-align: center;
  border-radius: 5px;
  padding-top: 5px;
  font-family: Myriad Pro;
}

#time{
  font-family: myriad pro;
  color: #7FACCD;
  font-size: 1.8em;
  margin-left: 5px;
}
.text p{
  font-family: myriad pro;
  color: #E7505A;
  margin-right: 15px;
  margin-top: 4px;
}

.header-right{
  align-self: right;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 10px;
  margin-top: -4px;
}

.log-out{
  height: 30px;
  width: auto;
}

.search{
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.content{
  background-color: #F5F5F5;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: -1;
}

.option{
  width: 60px;
  height: 250px;
  background-color: white;
  margin-top: 2px;
  box-shadow: 0px 3px 5px #E5E5E5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 3px;
}

.option img{
  height: 30px;
  width: 30px;
}

.restaurant{
  align-self: right;
  width: 100%;
  height: auto;
  margin: 20px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 0px 5px #E5E5E5;
  padding: 15px 25px 15px 25px;
  display: flex;
  flex-direction: column;
}

.restaurant p{
  font-family: Myriad Pro;
  font-size: 1.5em;
  margin: 0;
  font-weight: bold;
}

.res-search{
  display: flex;
  flex-direction: row;
  margin: 20px 0 10px 0;
}

.search-bar{
  /*left: auto;*/
  /*right: 0;*/
  position: relative;
  display: grid;
}

.search-bar i{
  color: #ccc;
  position: absolute;
  margin: 11px 2px 4px 10px;
  z-index: 3;
  width: 25px;
  text-align: center;
  margin-top: 8px;
  right: 8px;
  float: right;
  display: inline-block;
  box-sizing: border-box;
}

.icon-search{
  content: url(icon/search.png);
  padding: 0 0 5px 7px;
}

.input-search{
  border-radius: 10px;
  display: inline;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 15px;
  border-color: #BFBFBF;
  color: #BFBFBF;
  margin: 0 5px 0 5px;
}

.content select{
      border-radius: 25px;
      display: inline-block;
      touch-action: manipulation;
      cursor: pointer;
      border: 1px solid transparent;
      -webkit-appearance: none;
      font-size: 16px;
      background: 0 0;
      border-color: #94A0B2;
      color: #94A0B2;
      height: 33px;
      padding-left: 10px;
      padding-right: 25px;
      font-family: myriad pro;
      background-image: url(icon/arrow.png);
      background-position: right;
      background-size: 25px;
      background-repeat: no-repeat;
}

.res-name{
  display: inline-block;
}

button{
  border-radius: 25px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 15px;
  box-sizing: border-box;
  background: 0 0;
  outline: none;
  margin: 0 5px 5px 5px;
}

.btn-clear{
  border-color: #BFBFBF;
  color: #BFBFBF;
  border-radius: 10px;
  height: 33px;
}

.btn-all{
  border-color: #e7505a;
  color: #e7505a;
}

.btn-scarborough{
  border-color: #3598dc;
  color: #3598dc;
}

.btn-markham{
  border-color: #32c5d2;
  color: #32c5d2;
}

.btn-northyork{
  border-color: #BF55EC;
  color: #BF55EC;
}

.btn-richmond{
  border-color: #8E44AD;
  color: #8E44AD;
}

.btn-downtown{
  border-color: #F2784B;
  color: #F2784B;
}

.btn-missi{
  border-color: #F4D03F;
  color: #F4D03F;
}

.btn-closed{
  border-color: #2f353b;
  color: #2f353b;
}

.res-table{
  width: 100%;
  text-align: center;
  font-family: Myriad Pro;
  border: 0.25px solid #e5e5e5;
  margin-top: 20px;
  z-index: -2;
}

.res-table th{
  font-weight: bold;
  border: 0.25px solid #e5e5e5;
}

.res-table tr{
  height: 45px;
}

.res-table tr:nth-child(2n+1) td{
  background-color: #f6faf9;
}
.closeRow{
  background-color: grey;
}
.res-table td{
  border: 0.25px solid #e5e5e5;
}

.table-edit{
  height: 25px;
  width: 25px;
  margin: 0 20px 0 20px;
}

.area{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  z-index: 2;
}

.service{
  align-self: right;
  width: 100%;
  height: 700px;
  margin: 20px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 0px 5px #E5E5E5;
  padding: 15px 25px 15px 25px;
  display: flex;
  flex-direction: column;
}

.service p{
  font-family: Microsoft Yahei;
  font-weight: bold;
  font-size: 1.5em;
  margin: 0;
}

.ser-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 200px;
}

.ser-select{
  width: 80%;
  display: flex;
  flex-direction: column;
  height: 200px;
}

.ser-name{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 15px;
}

.add-new{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 200px;
}

.add-new input{
  height: 50px;
  width: auto;
}

.add-new p{
  font-size: 1.2em;
}

.table{
  margin-top: 10px;
}

.ser-table{
  width: 100%;
  text-align: center;
  font-family: Myriad Pro;
  border: 0.25px solid #e5e5e5;
}

.ser-table button{
  color: #67809F;
}

.table-name{
  padding: 0 40px;
}

.table-time{
  padding: 0 30px;
}

.table-area{
  padding: 0 10px;
}

.ser-table th{
  font-weight: bold;
  border: 0.25px solid #e5e5e5;
}

.ser-table tr{
  height: 45px;
}

.ser-table tbody tr:nth-child(2n+1) td{
  background-color: #f6faf9;
}

.ser-table td{
  border: 0.25px solid #e5e5e5;
}

.driver{
  align-self: right;
  width: 100%;
  height: 700px;
  margin: 20px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 0px 5px #E5E5E5;
  padding: 15px 25px 15px 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.driver p{
  font-family: Microsoft Yahei;
  font-weight: bold;
  font-size: 1.5em;
  margin: 0;
}

.dri-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 200px;
}

.dri-select{
  width: 80%;
  display: flex;
  flex-direction: column;
  height: 200px;
}

.dri-name{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 15px;
}

.week{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 20px;
}

.btn-weekday{
  background-color: #67809F;
  color: white;
}

.btn-weekend{
  background-color: #ffa1b5;
  color: white;
}

.btn-week{
  background-color: #BFBFBF;
  color: white;
}

.dri-table{
  width: 100%;
  text-align: center;
  font-family: Myriad Pro;
  border: 0.25px solid #e5e5e5;
}

.dri-table button{
  color: #67809F;
}

.dri-table th{
  font-weight: bold;
  border: 0.25px solid #e5e5e5;
}

.dri-table tr{
  height: 45px;
}

.dri-table tbody tr:nth-child(2n+1) td{
  background-color: #f6faf9;
}

.dri-table td{
  border: 0.25px solid #e5e5e5;
}
