#res-pop{
  width: 650px;
  height: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  position: fixed;
  visibility: hidden;
  overflow: hidden;
  background-color: white;
  padding: 10px;
  z-index: 3;
  box-shadow: 0px 0px 5px grey;
}

#background{
  position: fixed;
  width: 120%;
  height: 250%;
  background-color: black;
  opacity: 0.5;
  left:0;
  top: 0;
  visibility: hidden;
  z-index: 2;
}

#res-pop p{
  font-size: 18px;
  font-family: Myriad Pro;
  margin-top: 10px;
}

.time-title{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  font-family: Microsoft Yahei;
  font-size: 18px;
  margin-top: 10px;
}

.time{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-left: 35px;
}

.time input{
  height: 30px;
  margin-right: 10px;
  font-size: 1em;
}

.start-time{
  border: 1px solid #93b4cc;
  width: 200px;
  height: 30px;
  border-radius: 10px;
  padding: 6px 12px;
  margin-left: 10px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
}

.end-time{
  border: 1px solid #4db3a2;
  width: 200px;
  height: 30px;
  border-radius: 10px;
  padding: 6px 12px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
}

.res-pop-btn{
  display: flex;
  justify-content: space-between;
  /*margin-top: 40px;*/
}

.btn-add{
  border-radius: 20px;
  background-color: #F36A5A;
  width: 80px;
  height: 40px;
  color: white;
}

.btn-cancel{
  border-radius: 20px;
  background-color: #5C9BD1;
  padding: 8px 16px;
  color: white;
  height: 40px;
  margin-left: 20px;
}

.history{
  width: 80%;
  height: 200px;
  background-color: #EEEEEE;
  border-radius: 20px;
  margin-top: 30px;
  overflow: auto;
  padding-bottom: 20px;
}

.history-edit{
  width: 23px;
  height: 23px;
  margin-right: 20px;
}

.time-table{
  width: 100%;
  text-align: center;
  font-family: Myriad Pro;
  margin-top: 30px;
}

.time-table th{
  font-weight: bold;
}

.time-table tr{
  height: 35px;
}

.close-icon{
  position: fixed;
  margin-left: 90%;
  margin-top: -920px;
  width: 30px;
  z-index: 3;
}

#close{
  visibility: hidden;
}

#pop-ser-new{
  width: 640px;
  height: 520px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  position: fixed;
  visibility: hidden;
  overflow: scroll;
  background-color: white;
  padding: 5px;
  z-index: 3;
  box-shadow: 0px 0px 5px grey;
}

/*SERVICER*/

#pop-ser-new p{
  font-size: 18px;
  font-family: Myriad Pro;
  margin-top: 10px;
}

.pop-ser-name{
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  justify-content: center;
  width: 80%;
}

.pop-btn-ser-name{
  border-radius: 25px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 15px;
  box-sizing: border-box;
  background: 0 0;
  margin: 0 5px 0 5px;
  border-color: #3598dc;
  color: #3598dc;
  text-decoration: none;
  font-family: myriad pro;
  height: 33px;
}

.pop-input-group{
  left: auto;
  right: 0;
  position: relative;
  display: grid;
  height: 33px;
}

.pop-input-group>i{
  color: #ccc;
  position: absolute;
  margin: 11px 2px 4px 10px;
  z-index: 3;
  width: 25px;
  text-align: center;
  margin-top: 8px;
  right: 8px;
  float: right;
  display: inline-block;
  box-sizing: border-box;
}

.pop-btn-clear{
  border-color: #BFBFBF;
  color: #BFBFBF;
  border-radius: 10px;
  height: 33px;
}

.pop-ser-table{
  width: 100%;
  text-align: center;
  font-family: Myriad Pro;
  font-size: 18px;
}

.pop-ser-table button{
  color: #67809F;
  font-size: 18px;
}

.pop-ser-table tr{
  height: 30px;
}

#ser-pop{
  width: 80%;
  height: 520px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  position: fixed;
  visibility: hidden;
  overflow: hidden;
  background-color: white;
  padding: 5px;
  z-index: 3;
  box-shadow: 0px 0px 5px grey;
}

#ser-pop p{
  font-size: 20px;
  margin-top: 10px;
  font-family: Myriad Pro;
}

.ser-time-table{
  font-family: Myriad Pro;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height:316px;
}

.ser-time-table th{
  font-weight: bold;
}

.set-time-table thead{
  display: flex;
  justify-content:space-around;
}

.ser-time-table tr{
  height: 35px;
  width: 416px;
}

.ser-time-table input{
      border-radius: 5px;
      border: 1px solid #94A0B2;
      box-shadow: 0 0 2px #e5e5e5;
      margin: 0 3px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left: transparent;
      width:70px;
      height:30px;
      outline: none;
      box-shadow: 1px 0 1px #e5e5e5;
      margin-right: 10px;
  }

.btn-ser-time-select{
  width:80px;
  border-radius:5px;
  float:left;
  margin-right: -5px;
  border-right:transparent;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  display: inline-block;
  touch-action: manipulation;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  font-size: 16px;
  background: 0 0;
  border-color: #94A0B2;
  color: #94A0B2;
  height: 30px;
  font-family: myriad pro;
  box-shadow: -1px 0 1px #e5e5e5;
  background-image: url(icon/arrow.png);
  background-position: right;
  background-size: 25px;
  padding-left: 10px;
  padding-top: 3px;
  background-repeat: no-repeat;
}

.area-group select{
    border-radius: 25px;
    display: inline-block;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    -webkit-appearance: none;
    font-size: 16px;
    background: 0 0;
    border-color: #94A0B2;
    color: #94A0B2;
    width: 100px;
    height: 30px;
    outline: none;
    padding-left: 10px;
    font-family: myriad pro;
    box-shadow: 0 0 2px #e5e5e5;
    background-image: url(icon/arrow.png);
    background-position: right;
    background-size: 25px;
    background-repeat: no-repeat;
  }

/*DRIVER*/

  #pop-dri-new{
    width: 640px;
    height: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    position: fixed;
    visibility: hidden;
    overflow: scroll;
    background-color: white;
    padding: 5px;
    z-index: 3;
    box-shadow: 0px 0px 5px grey;
  }

  #pop-dri-new p{
    font-size: 18px;
    font-family: Myriad Pro;
    margin-top: 10px;
  }

  .pop-dri-name{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: center;
    width: 100%;
  }

  .pop-btn-dri-name{
    border-radius: 25px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 15px;
    box-sizing: border-box;
    background: 0 0;
    margin: 0 5px 0 10px;
    border-color: #3598dc;
    color: #3598dc;
    text-decoration: none;
    font-family: myriad pro;
    height: 33px;
  }

  .pop-dri-table{
    width: 100%;
    text-align: center;
    font-family: Myriad Pro;
    font-size: 18px;
  }

  .pop-dri-table button{
    color: #67809F;
    font-size: 18px;
  }

  .pop-dri-table tr{
    height: 30px;
  }

  #dri-pop{
    width: 80%;
    height: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    position: fixed;
    visibility: hidden;
    overflow: hidden;
    background-color: white;
    padding: 5px;
    z-index: 3;
    box-shadow: 0px 0px 5px grey;
  }

  #dri-pop p{
    font-size: 20px;
    font-family: Myriad Pro;
    margin-top: 10px;
  }

  .dri-time-table{
    font-family: Myriad Pro;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height:316px;
    width:90%
  }
  .dri-time-table-1,.dri-time-table-2{
    width:45%;
  }

  .dri-time-table th{
    font-weight: bold;
  }

  .dri-time-table tr{
    display: flex;
    justify-content: space-around;
    height: 35px;
    width: 100%;

  }

  .dri-time-table input{
      border-radius: 5px;
      border: 1px solid #94A0B2;
      box-shadow: 0 0 2px #e5e5e5;
      margin: 0 3px;
      color: #94A0B2;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left: transparent;
      width:70%;
      font-size: 16px;
      height:30px;
      box-shadow: 1px 0 1px #e5e5e5;
      margin-right: 10px;
      font-family: myriad pro;
  }

  .btn-dri-time-select{
    width:45%;
    border-radius:5px;
    float:left;
    margin-right: -5px;
    border-right:transparent;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    display: inline-block;
    touch-action: manipulation;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    font-size: 16px;
    background: 0 0;
    border-color: #94A0B2;
    color: #94A0B2;
    height: 30px;
    font-family: myriad pro;
    box-shadow: -1px 0 1px #e5e5e5;
    background-image: url(icon/arrow.png);
    background-position: right;
    background-size: 25px;
    padding-left: 10px;
    padding-top: 3px;
    background-repeat: no-repeat;
}

  .area-group select{
      border-radius: 25px;
      display: inline-block;
      touch-action: manipulation;
      cursor: pointer;
      border: 1px solid transparent;
      -webkit-appearance: none;
      font-size: 16px;
      background: 0 0;
      outline: none;
      border-color: #94A0B2;
      color: #94A0B2;
      width: 100px;
      height: 30px;
      font-family: myriad pro;
      box-shadow: 0 0 2px #e5e5e5;
      background-image: url(icon/arrow.png);
      background-position: right;
      background-size: 25px;
      padding-left: 10px;
      background-repeat: no-repeat;
    }
